:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
}

body{
    background-color: #FAF7FD;
}

#pinsta{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    color: #BB99DD;
}

a{
    color: #BB99DD  ;
    text-decoration: none;
}

.container{
    width: fit-content;
    margin: auto;
}

.containerLinks{
    margin-top: 40px;

}

.linker{
    font-family: 'Poppins', sans-serif;
    display: block;
    font-style: bold;
    text-align: center;
    border: 2px solid #BB99DD;
    width: 30vw;
    padding: 10px;
    color: #BB99DD;
    border-radius: 5px;
}

.linker:hover{
    background-color: #BB99DD;
    color: white;
    transition: 0.2s;
}

#foto_perfil{
    display: flex;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    border: 2px solid var(--purple);
    border-radius: 110px;
    padding: 1mm;
}

.row{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 0;
    margin-top: 65px;
}